* {
    box-sizing: border-box;
}

@import 'vars.css';

body {
    background-color: var(--orange);
}

.header {
    height: 8vh;
    background-color: var(--black);
    margin-bottom: 2vh;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: inherit;
}

.logo-img {
    height: inherit;
    width: 80%;
}

.search {
    margin-right: 2%;
}

.gallery-button {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color: var(--orange);
    margin-right: 1%;
    cursor: pointer;
}

.gallery-button:hover {
    border-bottom: 3px solid var(--yellow)
}

.search-bar {
    background-color: var(--orange);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: var(--black);
    font-size: 150%;
    width: 150px;
    height: 50%;
}

.search-bar:hover {
    border: 3px solid var(--yellow)
}

.search-button {
    background-color: var(--yellow);
    color: var(--black);
    height: 45%;
    font-size: 100%;
    cursor: pointer;
    margin-left: 2%;
    width: 40px;
    border-radius: 4px;
}

.search-button:hover {
    border: 2px solid var(--orange)
}



.gallery-container {
    min-height: 90vh;
    margin: auto;
    margin-top: 20px;
    background-color: var(--black);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 260px);
    justify-content: center;
    border-radius: 15px;
}

.gallery-item {
    height: 320px;
    border-radius: 15px;
    background-color: var(--black);
    color: var(--orange);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;
    cursor: pointer;
}

.gallery-item:hover {
    font-size: 1.2rem;
    color: var(--yellow);
}

.gallery-img {
    height: 260px;
    width: inherit;
    border-radius: 15px;
    cursor: pointer;
}

.gallery-img:hover {
    border: 3px solid var(--yellow);
}

.footer {
    margin-top: 2vh;
    height: 8vh;
    background-color: var(--black);
    border-radius: 15px;
    font-size: xx-large;
    color: var(--orange);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}